/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__img {
  width: 100%;
  display: block;
}

.header__more-info {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {

  .header { 
    text-align: center;
  }

}

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.app__task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.app_add-item {
  padding: 16px 0;
}

.app__list {
  margin: 0;
  padding: 0;
}

.app__list-item,
.app__title {
  list-style: none;
}

.app__input_text,
.app__input_checkbox,
.app__btn{
  outline: none;
}

.app__btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
  padding-right: 26px;
}

.app__btn:hover {
  color: #3a3a3a;
}

/* Heading */
.app__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.app__input_text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.app__input_text:focus {
  color: #333;
}

/* New Task */

.app_add-item .app__title {
  display: block;
  margin: 0 0 20px;
}

#new-task {
  width: 80%;
}

.app_add-item > .app__btn:hover {
  color: #0fc57c;
}

/* Task list */
.app__list-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__list-item > * {
  vertical-align: middle;
}

.app__list-item > .app__input_checkbox {
  margin: 0 10px;
}

.app__list-item > .app__task_name {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.app__input_text {
  /* width: 226px; */
  flex-grow: 1;
}

.app__list-item > .app__btn_delete:hover {
  color: #cf2323;
}

.app__btn_delete .app__btn_icon {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.app__btn_delete .app__btn_icon:hover {
  transform: rotateZ(0);
}

/* Completed */
#completed .app__task {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.app__list .app__input_text {
  display: none;
}

.app__edit-mode .app__input_text {
  display: inline-block;
  width: 224px;
}

.app__edit-mode .app__task_name {
  display: none;
}